 name: check_norm_and_test
 
 # Controls when the action will run. 
 on: [push, pull_request, workflow_dispatch]
 
 # A workflow run is made up of one or more jobs that can run sequentially or in parallel
 jobs:
   # This workflow contains a single job called "build"
   norm:
     # The type of runner that the job will run on
     runs-on: macos-10.15
 
     # Steps represent a sequence of tasks that will be executed as part of the job
     steps:
       # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
       - name: checkout git repository
         uses: actions/checkout@v2
       
       - name: Install Norminette
         run: |
           python3 -m pip install --upgrade pip setuptools
           python3 -m pip install norminette
         
       - name: Run Norminette
         run: norminette
